.clearfix {
	&:after {
		content: "";

		display: table;
		clear: both;
	}
}

.container {
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	@media @tablet-widths {
		
		padding: 0;
	}

	@media @desktop-widths {
		width: 1200px;
	}
}

.list-style-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-margin {
	margin-left: -20px;
	margin-right: -20px;
}

.mobile-padding {
	padding-left: 20px;
	padding-right: 20px;
}

