@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1280px)";

@blue: #81b3d2;
@blue-hvr: #669ec0;
@blue-down: #5496bd;
@blue-progress: #3e84ae;

@grey: #f2f2f2;
@grey2: #e5e5e5;
@grey3: #d5d5d5;

@brown: #766357;
@brown2: #604e43;

@intro-bg: #ddebf4;

@error: #ff5c5c;

@font-size: 14px;
