.btn {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 15px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: @white;
	text-decoration: none;
	text-align: center;
	background: @blue;
	border: none;
	outline: none;
}

.close-btn,
.sandwich-btn {
  width: 23px;
  height: 23px;
  outline: 1px solid red;
}