body {
	margin: 0;
	padding: 0;
 
	font-size: @font-size;
	line-height: 1.5 * @font-size;
	font-family: 'PT Sans', Arial, sans-serif;
	color: #333333;
	font-style: normal;
	text-transform: uppercase;

	background-color: @grey;
}

.page-wrapper {
	background: #ffffff;
	.container; 
}

* {
	box-sizing: border-box;
	text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

h1, 
h2,
h3 {
	font-size: 18px;
  line-height: 26px;
}

h4 {
	font-size: 14px;
	line-height: 24px;
}

@media @tablet-widths {
  
  h1 {
		font-size: 30px;
    line-height: 36px;
	}
  
  h2 {
    font-size: 30px;
    line-height: 36px;
  }

  h3 {
    font-size: 21px;
    line-height: 26px;
  }
}



[class*="__title"] {
	margin: 0;
	margin-bottom: @font-size;
}

a {
	color: inherit;
	text-decoration: none;
}

input, textarea {
  min-height: 57px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-tranform: none;
  border: none;
  outline: none;
  background: @grey;
  text-align: left;
  color: @black;
}

input::-webkit-input-placeholder {color:@black;}
input::-moz-placeholder          {color:@black;}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}

textarea::-webkit-input-placeholder {color:@black;}
textarea::-moz-placeholder          {color:@black;}
textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}

@media @desktop-widths {

}

.tablet-hidden-text {
  @media @tablet-widths {
		display: none;
	}

	@media @desktop-widths {
		display: inline;
	}
}

.desktop-hidden-text {
	@media @desktop-widths {
		display: none;
	}
}


