.exclusive{
	//outline: 1px solid green;

	padding-top: 25px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;



  &__title {
    margin-bottom: 8px;
  }

  &__number {
    margin-top: 8px;
    margin-bottom: 16px;
  }

}

@media @mobile-widths-only {
	.exclusive {

    .border-bottom;
  }

  .exclusive:last-child {
    border: none;
  }

}



@media @tablet-widths {

	.exclusive {
    width: 33.3%;
    padding-top: 45px;
		padding-left: 50px;
		padding-right: 50px;
    padding-bottom: 30px;

		&__title {
			width: 151px;
			margin: 0 auto;
		}

    &__number {
      margin-bottom: 23px;
    }

	}

}


@media @desktop-widths {

  .exclusive {
    padding-bottom: 52px;
	}

}
