.features {
	//outline: 1px solid blue;

	display: flex;
	flex-direction: column;

	padding-top: 25px;
	padding-bottom: 20px;

	&__item {
	  position: relative;
	  margin-bottom: 3px;

	  &::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 38px;
		height: 38px;
    background: no-repeat 100% 100%;
    background-size: contain;
		}

		&--house::before {
      background-image: url('../img/icon-house.svg');
    }

    &--souvenir::before {
      background-image: url('../img/icon-gift.svg');
    }

    &--food::before {
      background-image: url('../img/icon-burger.svg');
    }

	}

  &__title {
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: left;
  }

}

@media @mobile-widths-only {

	.features {

    &__item {

    }

		&__item--iconed {
			padding-left: 50px;
		}

		&__title {
			text-align: left;
		}

		&__text {
			text-align: left;
		}

	}

}

@media @tablet-widths {

	.features {
		flex-direction: row;
		justify-content: space-around;

    padding-top: 50px;
    padding-bottom: 45px;

		&__item {
			width: 33.3%;
			padding-top: 100px;
			padding-left: 5%;
			padding-right: 5%;

      &::before {
        top: 10px;
        left: 50%;
        margin-left: -38.5px;
        width: 77px;
        height: 75px;
        background-position: 50% 50%;
       }

		}

		&__item--souvenir {
			order: 1;
		}

    &__title {
      margin-bottom: 20px;
			text-align: center;
		}

		&__text {
			text-align: center;
		}

	}

}

@media @desktop-widths {

	.features  {
    padding-bottom: 65px;

		&__item {
			padding-left: 55px;
			padding-right: 55px;
		}

  }

}
