.intro {
	//outline: 1px solid red;
		
	&__photo {
		padding-top: 90px;
		padding-bottom: 85px;
		background: #e0edf5 url('../img/bg-back-mobile.jpg') no-repeat 50% 50%;
		line-height: 0;
	}
	
	&__photo img {
		width: 280px;
		height: auto;
	}
	
	&__content {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	&__title {
		margin-bottom: 25px;
	}
	
}

@media @mobile-widths-only {

	.intro {
		.mobile-margin;
	
		&__photo {
			.mobile-padding;
		}
		
		&__content{
			.mobile-padding;
		}
	}
	
}

@media @tablet-widths {

	.intro {
	
		&__photo {
			padding-top: 70px;
			padding-bottom: 90px;
		}
		
		&__content{
			width: 500px;
			margin: 0 auto;
		}
	}
	
}

@media @desktop-widths {
	.intro {
	
	}
}