.photo-list {
	//outline: 1px solid green;
	
	display: flex;
	flex-direction: column;
}

@media @tablet-widths {
	.photo-list {
    padding-left: 60px; //или лучше фиксированную ширину? 
    padding-right: 60px;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media @desktop-widths {
  .photo-list {
    padding: 0;
  }
}