.photo {
	// outline: 1px solid yellow;

	padding-top: 22px;
	overflow: hidden;

	&__img {
		display: block;
		width: 280px;
		height: 280px;

		img {
			width: 280px;
			height: 280px;
		}

	}

	&__info *{
		text-align: left;
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding-top: 16px;
		padding-bottom: 22px;
	}

	&__title {
		margin-bottom: 0;
	}

	&__author {
		margin-top: 0;
    margin-bottom: 8px;
		text-transform: none;
	}

	&__likes {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	&__like-it {
		width: 25px;
		height: 21px;
		margin-right: 10px;

		svg {
			fill: #000000;
			opacity: 0.3;
		}

	}

	&__likes-count {
		font-size: 14px;
		line-height: 14px;
		font-weight: bold;
		align-self: flex-end;
	}

}

@media @mobile-widths-only {

  .photo {
    .border-bottom;
    .mobile-margin;
    .mobile-padding(20px);
  }

}

@media @tablet-widths {

	.photo {
		padding-top: 0;
		width: 50%;
		background-color: @grey;

    &__img {
			height: 267px;
			width: 324px;

			img {
				height: 267px;
				width: 324px;
			}

    }

		&__info {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			padding-top: 15px;
		}

		&:nth-child(2n+3) {
			background: #eaeaea;
		}

		&__author {
			margin-bottom: 0;
		}

		&__likes {
			min-width: 65px;
		}

		&__likes-count {
			align-self: center;
		}

		&--panorama {
		  width: 100%;

			.photo__img {
				height: 400px;
				width: 646px;
			}

	    img {
	      height: 400px;
				width: 646px;
	    }

		}

	}

}

@media @desktop-widths {

	.photo {
		position: relative;
		width: 33.3%;

		&__img {
			width: 400px;
			height: 267px;

			img {
				width: 400px;
				height: 267px;
			}

		}

		&--panorama {
			width: 100%;

			.photo__img {
				height: 400px;
				width: 1200px;
			}

	    img {
	      height: 400px;
				width: 1200px;
	    }

		}

		&__info {
			position: absolute;
			bottom: 0;
			left: 0;
      padding-top: 15px;
			width: 100%;
			color: #ffffff;
			background: rgba(0, 0, 0, 0.3);
		}


		&__like-it {

			svg {
				opacity: 1;
				fill: #ffffff;
			}

		}

	}

}
