.search {
	//outline: 1px solid blue;
	
	padding-top: 25px;
	padding-bottom: 50px;
	.width-limit;
	
	&__title {
		margin-bottom: 25px;
	}
  
  &__text {
    line-height: 1.7 * @font-size;
  }
	
	&__btn {
		margin-top: 20px;
	}
}

@media @mobile-widths-only {

}

@media @tablet-widths {

	.search {
		
		padding-top: 50px;
		padding-bottom: 60px;
		
		&__title {
			margin-bottom: 26px;
		}
    		
		&__btn {
			margin-top: 30px;
		}
	
	}
	
}

@media @desktop-widths {

  .search {
		
    padding-bottom: 66px;
    
		&__btn {
			margin-top: 38px;
		}
	
	}
  
}

