.search {
	//outline: 1px solid blue;
	
	padding-top: 30px;
	padding-bottom: 50px;
	.width-limit;
	
	&__title {
		margin-bottom: 25px;
	}
	
	&__btn {
		margin-top: 35px;
	}
}

@media @mobile-widths-only {

}

@media @tablet-widths {

	.search {
		
		padding-top: 50px;
		padding-bottom: 60px;
		
		&__title {
			margin-bottom: 35px;
		}
		
		&__btn {
			margin-top: 40px;
		}
	
	}
	
}

@media @desktop-widths {

}

