.social-links {
	//outline: 1px solid yellow;
	
	font-size: 0;
	
	&__link {
		display: inline-block;
		vertical-align: top;
		width: 46px;
		height: 48px;
		margin-right: 6px;
		background: @blue;
	}
  
  &__link:last-child {
    margin-right: 0;
  }

	
}