.social-links {
  //outline: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  	
	&__link {
		display: flex;
		vertical-align: top;
		width: 46px;
		height: 48px;
		margin-right: 6px;
		background: @blue;
		
		svg {
		  fill: #ffffff;
		  margin: auto;
		}
    
    &:hover {
      .btn-hover;
    }
    
    &:active {
      .btn-down;
      
      svg {
        opacity: 0.3;
      }
      
    }
    
	}
  
  &__link:last-child {
    margin-right: 0;
  }

	
}